.button {
  border: none;
  color: white;
  padding: 15px 590px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
}

.buttoninfo {
  background-color: #008cba;
}
