<hr size="10," color="black" />
<hr size="10" color="white" />
<hr size="10" color="white" />
<div echarts [options]="options" class="demo-chart"></div>
<hr size="10" color="white" />
<hr size="10" color="white" />
<button
  class="button buttoninfo"
  type="button"
  onclick="alert('Las personas se distribuyen de la siguiente manera: \n Los de la clase A poseen salarios comprendidos entre 0 y 500 \n Los de la clase B poseen salarios comprendidos entre 500 y 1000 \n Los de la clase C poseen salarios comprendidos entre 1000 y 4000 \n Los de la clase D poseen salarios comprendidos entre 4000 a 10000 \n Los de la clase E poseen salarios mayores a 10000 ')"
>
  Leyenda
</button>
<hr size="10," color="black" />
